html {
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header",
    ". logo text-box",
    "navbar . .",
    "footer footer footer";
    grid-template-columns: 0.5fr 250px 2fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}

.blank-header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 50px;
}

#logo {
    grid-area: logo;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    min-width: 200px;
    max-width: 400px;
    padding: 0 60px 20px 0;
}

#logo img {
    min-width: 173px;
    min-height: 150px;
    max-width: 280px;
    
}

#navbar {
    grid-area: navbar;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 18px;
    justify-self: end;
}

.listing {
    text-decoration: none;
    list-style-type: none;
}

li{
    padding: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;   
}

a#social_media, a#release_party, a#home, a#gallery, a#contact, a#impressum{
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
  }

.text-box { 
    grid-area: text-box;
    grid-column: 3 / 4;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 500px;
    max-height: 400px;
    min-width: 200px;
    border-left: 5px solid white;
    overflow: scroll;
    justify-self: start;
    padding: 0 100px 0 5px;
    margin-left: 60px; 
}

.text {
    text-align: left;
    font-size: 18px;
    padding-left: 20px; 
    margin-top: -10px;  
    line-height: 200%; 
   
}

.blank-footer {
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    max-height: 50px; 
}

#landing-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

#landing-logo-box {
    min-width: 200px;
    max-width: 375px;
    padding: 100px 0px;  
}
#landing-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 375px;  
}

#landing-text{
    text-align: center;
    font-size: 25px; 
}


@media screen and (orientation: portrait) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        "navbar",
        "logo",
        "text-box";
        grid-template-columns: auto;
        grid-template-rows: 50px 350px 350px;
        grid-row-gap: 5px;
        justify-content: center;
        align-items: center; 
      
    }
 
    #logo {
        grid-area: logo;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
        width: 250px;
        height: 250px;
        padding:  10px 10px;
    }
    
    #logo img {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    #navbar {
        grid-area: navbar;
        justify-self: center;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 14px;
        width: 100%;  
        margin: 0;
        padding: 0;
        background-color: black;
        position: sticky;
        top: 0;
        border-bottom: 5px solid white;
       
    }
    

    .listing {
        display: inline-flex;
        flex-wrap: wrap;
        text-decoration: none;
        list-style-type: none; 
        padding: 0;   
    }
    
    li{
        padding: 5px;
        text-align: center;
        margin: 0;
    }
    
    .text-box { 
       grid-area: text-box;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: 350px;
        border-top: 5px solid white;
        justify-self: center;
        padding: 50px 0;
        margin: 0;
        border-left: none;
        
        
    }
    
    .text {
        font-size: 16px; 
        line-height: 200%; 
        text-align: left;
        max-width: inherit;
        padding: 0;
    }
    
    
    #landing-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
    }
    
    #landing-logo-box {
        min-width: 200px;
        max-width: 375px;
        padding: 100px 0px;  
    }
    #landing-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 200px;
        max-width: 375px;  
    }
    
    #landing-text{
        text-align: center;
        font-size: 25px; 
    }
    
}